<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Disc Bag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<h1>Add a Disc</h1>
	<div class="col-md-4">
		<form th:object="${disc}" th:action="@{save}" action="#" method="post">
			<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" class="form-control"/>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="manufacturer">Manufacturer</label>
			<input type="text" id="manufacturer" th:field="*{manufacturer}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="plastic">Plastic</label>
			<input type="text" id="plastic" th:field="*{plastic}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
            <label for="weight">Weight</label>
            <input type="text" th:field="*{weight}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
            <label for="price">Price</label>
            <input type="text" th:field="*{price}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="catlist">Category</label>
			<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>

			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
		</div>
	</div>
</body>
</html>