<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>My Disc Bag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="col-md-4">
	    <h1>Discs</h1>
        </div>
        <div class="col-md-4">
            <i>Welcome </i><b sec:authentication="name"></b>,
            your role is <b sec:authentication="principal.authorities"></b>
        </div>
        <div class="col-md-4" style="padding:20px 0">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out" class="btn btn-sm btn-danger"/>
            </form>
        </div>
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Manufacturer</th>
            <th>Plastic</th>
            <th>Weight</th>
            <th>Speed</th>
            <th>Glide</th>
            <th>Turn</th>
            <th>Fade</th>
            <th>Price</th>
            <th>Category</th>
            <th>Lost Disc</th>
            <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "disc : ${discs}">
    		<td th:text="${disc.name}"></td>
    		<td th:text="${disc.manufacturer}"></td>
            <td th:text="${disc.plastic}"></td>
            <td th:text="${disc.weight}"></td>
            <td th:text="${disc.speed}"></td>
            <td th:text="${disc.glide}"></td>
            <td th:text="${disc.turn}"></td>
            <td th:text="${disc.fade}"></td>
            <td th:text="${disc.price}"></td>
            <td th:text="${disc.category.name}"></td>
            <td th:text="${disc.lost ? 'Lost' : ''}"></td>
            <td th:if="${disc.user != null and (#authentication.principal.username == disc.user.username or #authorization.expression('hasAuthority(''ROLE_ADMIN'')'))}">
                <a th:href="@{/edit/{id}(id=${disc.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete/{id}(id=${disc.id})}" class="btn btn-danger">Delete</a>
            </td>
    	</tr>
     </table>
     <td sec:authorize="isAuthenticated()">
	 <a href="/add-disc" class="btn btn-success">Add Disc</a></td>    	
</body>
</html>